@import '../var.scss';

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: $br;
    // overflow: hidden;
    border:2px solid #fff;
    thead {
        background-color: $grey;
        border-radius: $br;
        overflow: hidden;
        th {
            font-size: 14px;
            font-family: 'gotham-b';
            padding: 10px;
            text-align: left;
        }
    }
    tbody {
        background-color: #fff;
        tr{
            &:hover {
                background-color: lighten($grey,3%);
            }
        }
        td {
            padding: 15px 10px;
            font-size: 16px;
            border-bottom: 1px solid $grey;
            &:last-child{
                text-align: right;
            }
        }
    }
}
.dropmenu {
    position: relative;
    &__btn {
        width: 30px;
        height: 20px;
        background-image: url('@/assets/icons/menu.svg');
        background-size: contain;
        background-position: center center;
        display: inline-block;
        &.active+.dropmenu__list {
            display: block;
        }
    }
    &__list {
        position: absolute;
        right: 0;
        padding: 5px;
        z-index: 1;
        display: none;
        background-color: #fff;
        border:1px solid $grey;
        border-radius: 5px;
        button {
            display: flex;
            border-bottom: 1px solid $grey;
            margin-bottom: 5px;
            padding: 5px;
            width: 100%;
            img {
                margin-right: 5px;
            }
            &:hover {
                background-color: $grey;
            }
            &:last-child {
                margin-bottom: 0;
                border-bottom: 0;
            }
        }
    }
}