@import './var.scss';
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.container {
    padding: 0px 30px;
}


@for $i from 1 through 12 {
    .col-#{$i}{
        @include fb(percentage($i/12))
    }
    .m {
        &t{ &-#{$i*10}{ margin-top: #{$i*10}px; } }
        &l{ &-#{$i*10}{ margin-left: #{$i*10}px; } }
        &b{ &-#{$i*10}{ margin-bottom: #{$i*10}px; } }
        &r{ &-#{$i*10}{ margin-right: #{$i*10}px; } }
    }
}
.m {
    &t{ &-a{ margin-top: auto; } }
    &l{ &-a{ margin-left: auto; } }
    &b{ &-a{ margin-bottom: auto; } }
    &r{ &-a{ margin-right: auto; } }
}

@media(max-width:1024px){
    .col-md-3 {
        @include fb(25%);

    }
    .col-md-4 {
        @include fb(33.33%);

    }
    .col-md-6 {
        @include fb(50%);

    }
    .col-md-12 {
        @include fb(100%);

    }
}

@media(max-width:768px){
    .col-sm-3 {
        @include fb(25%);

    }
    .col-sm-4 {
        @include fb(33.33%);

    }
    .col-sm-6 {
        @include fb(50%);

    }
    .col-sm-12 {
        @include fb(100%);

    }
}

@media(max-width:600px){
    .col-xs-3 {
        @include fb(25%);

    }
    .col-xs-4 {
        @include fb(33.33%);

    }
    .col-xs-6 {
        @include fb(50%);

    }
    .col-xs-12 {
        @include fb(100%);

    }
}
